<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.watermonitoringsystem.createsupplieraccount">

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/logo"
        android:supportsRtl="true"
        android:label="Create Supplier Account"
        android:theme="@style/Theme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:fullBackupContent">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.CreateSupplierAccount">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>